@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

body {
  font-family: 'Quantico', sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
}

.thermostat {
  text-align: center;
}

#feedback {
  text-align: center;
  display: block;
  position: relative;
  top: 44px;
}

.dot {
  height: 300px;
  width: 300px;
  border: 5px #cec9d6 solid;
  border-radius: 50%;
  margin: auto;
  box-shadow: 8px 6px 5px #CCCC;
  background-color: #fff679;
  margin-top: 30px;
}

p {
  position: relative;
  margin-left: 87px;
  margin-top: 65px;
  font-size: 40px;
  border: 4px #8f8e8d solid;
  text-align: center;
  width: 114px;
  border-radius: 25%;
  background-color: #e0ded7;
}

#temperature-up {
  font-size: 45px;
  text-decoration: none;
  position: relative;
  bottom: 157px;
  right: 28px;
}

#temperature-down {
  font-size: 92px;
  text-decoration: none;
  position: relative;
  bottom: 145px;
  left: 119px;
}

#energy {
  font-size: 20px;
  position: relative;
  bottom: 168px;
  margin-left: 87px;
}

.eco {
  right: 69px;
}

a:visited {
  color: #8f8e8d;
}

button {
  position: relative;
  bottom: 100px;
  margin: auto;
  height: 30px;
  border-radius: 20%
}

.low-usage {
  color: blue;
}

.medium-usage {
  color: green;
}

.high-usage {
  color: red;
}
